MYSQLHOST=localhost
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=monarchy_esports
MYSQLPORT=3306
MYSQLSSLCA=

SECRET_KEY=replace-with-a-random-secret

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=